*{
    margin: 0;
    padding: 0;
}

/* =====Navbar Top===== */

.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}

.logo h3{
    font-weight: bold;
}

.icons i img{
    margin-left: 10px;
    cursor: pointer;
}

/* =====End of Navbar Top===== */

/* =====Main Content===== */

.main-content{
    width: 100%;
    height: 90vh;
    background: url(/image/background.png);
    background-size: cover;
    background-position: 70%;
}

/* Navbar  */

#navbar-color{
    background-color: rgba(238,224,208);
}

.navbar-nav{
    margin: auto;
    font-weight: bold;
}

.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}

.navbar-nav li a:hover{
    color: green;
}

/* Content  */

.content{
    margin-top: 150px;
    margin-left: 60px;
}

.content h1{
    font-size: 50px;
}

#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn1 button:hover{
    background-color: green;
}

/* =====End of Main Content===== */


/* Card1 */

#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn2 button:hover{
    background: rgba(238,224,208);
}

/* End of Card1 */


/* Card2 */

#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}

#tpc:hover{
    transform: translateY(-10px);
}

/* End of Card2 */


/* Card3 */

#c p{
    font-weight: bold;
}

#btn3{
    text-align: center;
}

#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn3 button:hover{
    background-color: rgba(238,224,208);
}

/* End of Card3 */


/* About */

#btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn4 button:hover{
    background-color: rgba(238,224,208);
}

/* End of About */

/* Footer  */

.footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

.footer h1{
    color: white;
    padding-top: 30px;
}

.footer p{
    color: white;
}

.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}

.copyright{
    color: white;
    margin-top: 20px;
}

.owner{
    color: white;
}

/* End of Footer  */